header {
  grid-row: 1;
  grid-column: 1 / 4;
  display: flex;
  justify-content: flex-end;align-items: center;
}

.header-title {
  font-size: 1.7rem;
}

.header-img {
  height: 200px;
  margin-left: 30px;
}

.header-img img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}